// begin popup 
.popup
    header.popup__head
        .popup__title nokhchoprint@ya.ru
        button.popup__exit
            svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', width='15', height='15', viewBox='0 0 26.277332 26.27733', sodipodi:docname='exit.svg', inkscape:version='0.92.4 (5da689c313, 2019-01-14)')
                    metadata#metadata8
                        rdf:rdf
                        cc:work(rdf:about='')
                            dc:format image/svg+xml
                            dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                            dc:title
                    defs#defs6
                    sodipodi:namedview#namedview4(pagecolor='#ffffff', bordercolor='#666666', borderopacity='1', objecttolerance='10', gridtolerance='10', guidetolerance='10', inkscape:pageopacity='0', inkscape:pageshadow='2', inkscape:window-width='1680', inkscape:window-height='988', showgrid='false', fit-margin-top='0', fit-margin-left='0', fit-margin-right='0', fit-margin-bottom='0', inkscape:zoom='7.8666667', inkscape:cx='12.375954', inkscape:cy='12.248835', inkscape:window-x='-8', inkscape:window-y='-8', inkscape:window-maximized='1', inkscape:current-layer='svg2')
                    path#path12(d='m 0.33866568,25.938666 c -0.96119,-0.96119 -0.0022,-2.452419 4.50825002,-7.010446 L 10.576059,13.138666 4.8469157,7.3491123 C 0.33644968,2.7910853 -0.62252432,1.299856 0.33866568,0.33866611 1.2998557,-0.62252377 2.7910847,0.33644611 7.3491117,4.8469164 L 13.138666,10.57606 18.92822,4.8469164 c 4.558027,-4.51046619 6.049256,-5.46944017 7.010446,-4.50825029 0.96119,0.96118989 0.0022,2.45241919 -4.50825,7.01044619 l -5.729143,5.7895537 5.729143,5.789554 c 4.510466,4.558027 5.46944,6.049256 4.50825,7.010446 -0.96119,0.96119 -2.452419,0.0022 -7.010446,-4.50825 l -5.789554,-5.729143 -5.7895543,5.729143 c -4.558027,4.510466 -6.049256,5.46944 -7.01044602,4.50825 z', inkscape:connector-curvature='0')
    .popup__content
        .popup__info
            .popup__requisites
                .popup__requisites-icon
                    svg(height='24', viewBox='0 0 24 25', width='25', xmlns='http://www.w3.org/2000/svg')
                            path(d='M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z')
                .popup__requisites-text
                    p
                        | Указанные реквизиты совпадают с созданной карточкой компании: 
                        br
                        span.underline ПЕРМЬ
            .popup__data

                .popup__data-item
                    h6 Полное наименование
                    p
                        | Общество с ограниченной ответственностью 
                        br
                        |  213123123123
                    h6 Юридический адрес
                    p
                        | 614068, г.Пермь, ул. Крылова, д. 4

                .popup__data-item
                    h6 ИНН
                    p 5902836184
                    
                .popup__data-item
                    h6 КПП
                    p 590201001

                .popup__data-item
                    h6 ОГРН
                    p 1075902001317

                .popup__data-item
                    h6 ОКВЭД
                    p 58

                .popup__data-item
                    h6 ФИО руководителя
                    p Лошкарев Алексей Григорьевич


        .popup__registration
            .popup__registration-body
                h5 Регистрационные данные

                .popup__registration-item
                    h6 Контактное лицо:
                    p Малгобек Мурад Маглобекович

                .popup__registration-item
                    h6 Телефон: 
                    p 
                        a(href="tel:+79530000000") +7(953)000-00-00 

                .popup__registration-item.popup__registration-email
                    h6 E-mail:
                    p 
                        a(href="tel:+79530000000") +7(953)000-00-00 

                .popup__registration-item
                    h6 Дата регистрации:
                    p 20.10.18 15:30
            
            .popup__registration-btns
                .ban-btn 
                    button.ban-btn__item Заблокировать
                    .ban-btn__window
                        p Вы хотите заблокировать пользователя?
                        .ban-btn__actions
                            button#yes Да
                            button#no Нет
                button.button.confirm-btn Подтвердить

// end popup 