doctype html
html(lang='ru')
	head
		title Модерация регистраций
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			include ../modules/sidebar

			include ../modules/content

		// end wrapper
		include ../modules/footer


		// scripts 
		include ../modules/scripts